{% extends 'main.html' %}

{% block content %}
<div class="feeds">
        <div class="pub">   
            <div class="entete">
                <img src="../../../static/images/default_image.jpg" class="imgpub" alt="">
                <div id="publishedBy">
                    <span class="admin">Wie Community</span>
                    <small class="Date">, {{post.date}}</small>
                </div>
            </div>
            <div>
                {{post.body|safe}}
            </div>
        </div>
        <br>
        <div class="pub">   
            <b>{{count}} Participant(s)</b>
        </div>
</div>
{% endblock %}